:root {
  --text-color: white;
  --bg-background: #d13e54;
  --bg-background-secondary: #bd374c;
}
* {
  font-family: "Poppins", sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: black;
}

main {
  padding-top: 50px;
  min-height: 95vh;
}
nav {
  padding: 40px;
  background-color: transparent;
}
nav a {
  color: var(--text-color) !important;
}

footer {
  height: 5vh;
  background-color: black;
}
svg {
  fill: var(--bg-background-secondary);
}
#banner {
  background-image: url("../img/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
}
.carrito:hover {
  color: #063f36;
  background-color: white;
}
.bg-effect {
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn {
  padding: 0.7rem 4rem;
  color: white;
  background-color: black;
}
.carrito {
  color: black;
  background-color: white;
}
.carrito:hover {
  background-color: var(--bg-background-secondary);
  color: white !important;
}
.home-info {
  margin-left: 15rem !important;
}
.form-control:focus {
  box-shadow: none;
}
.inputsubmit {
  background-color: var(--bg-background) !important;
  color: white;
}
.inputsubmit:hover {
  background-color: var(--bg-background-secondary) !important;
  color: white;
}
.ftco-section > .container {
  min-width: 80vw;
  max-width: 80vw;
  min-height: 60vh;
  max-height: 100vh;
}
.info-wrap {
  background-color: var(--bg-background);
}
.btn {
  background-color: var(--bg-background);
}
.btn:hover {
  color: white;
  background-color: var(--bg-background-secondary);
}
.card-img {
  height: 300px;
  object-fit: cover;
}
ul > li {
  list-style: none;
}
